{% extends 'base.html' %}
{% load course_custom_tags %}
{%block title%}
Signup
{% endblock %}

{%block content%}

<div class="container">
   <p class="display-6">My Courses </p>
   <hr>
   <div class="col">
       <h2>Welcome, {{ user.username }}     </h2>
   </div>
</div>

<div class="row">
    {% if user_courses %}
        {% for uc in user_courses %}
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{ uc.course.thumbnail.url }}" alt="Course thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ uc.course.name }}</h5>
                </div>
                <div class="card-footer p-0">
                    <div class="row no-gutters">
                        <div class="col border-right">
                            <a href="/course/{{ uc.course.slug }}" class="btn btn-light btn-block">Start Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col">
            <p class="text-center">No courses are enrolled by you.</p>
        </div>
    {% endif %}
</div>


{%endblock%}